# Plotting Weekly Forecast

In [24]:
import pandas as pd
import numpy as np
import os

%matplotlib inline
import matplotlib.pyplot as plt
import seaborn as sns

import plotly.plotly as py
import plotly.graph_objs as go

In [6]:
data = pd.read_csv("../data/predictions/predictions.csv")
data.head()

,Unnamed: 0,ds,y,yhat,yhat_lower,yhat_upper,week,site,job_family
0,0,2016-12-26,382.0,479,359,602,52,St Paul's Hospital,Registered Nurse-DC1
1,1,2017-01-02,2002.0,1939,1515,2373,1,St Paul's Hospital,Registered Nurse-DC1
2,2,2017-01-09,2040.0,1975,1550,2421,2,St Paul's Hospital,Registered Nurse-DC1
3,3,2017-01-16,2082.0,1964,1540,2392,3,St Paul's Hospital,Registered Nurse-DC1
4,4,2017-01-23,2062.0,1918,1479,2343,4,St Paul's Hospital,Registered Nurse-DC1

In [10]:
sites = ["St Paul's Hospital", "Mt St Joseph", "Holy Family", "SVH Langara", "Brock Fahrni", "Youville Residence"]
jfs = ["Registered Nurse-DC1", "Registered Nurse-DC2A Sup", "Registered Nurse-DC2B"]

In [13]:
split_data = {}
for i in sites:
    for j in jfs:
        split_data[(i, j)] = data[(data["site"]==i) & (data["job_family"]==j)]

In [30]:
# plot natively in python

# ax = plt.figure(figsize=(25,10))
# ax = plt.xticks(rotation=50)
# ax = sns.lineplot(data=test, x="ds", y="y", label="Actual")
# ax = sns.lineplot(data=test, x="ds", y="yhat", label="Forecast", color="orange")
# ax.fill_between(data=test, x="ds", y1='yhat_lower', y2='yhat_upper', color="orange", alpha=0.2)

# Sample plot

In [19]:
list(split_data.keys())

[("St Paul's Hospital", 'Registered Nurse-DC1'),
 ("St Paul's Hospital", 'Registered Nurse-DC2A Sup'),
 ("St Paul's Hospital", 'Registered Nurse-DC2B'),
 ('Mt St Joseph', 'Registered Nurse-DC1'),
 ('Mt St Joseph', 'Registered Nurse-DC2A Sup'),
 ('Mt St Joseph', 'Registered Nurse-DC2B'),
 ('Holy Family', 'Registered Nurse-DC1'),
 ('Holy Family', 'Registered Nurse-DC2A Sup'),
 ('Holy Family', 'Registered Nurse-DC2B'),
 ('SVH Langara', 'Registered Nurse-DC1'),
 ('SVH Langara', 'Registered Nurse-DC2A Sup'),
 ('SVH Langara', 'Registered Nurse-DC2B'),
 ('Brock Fahrni', 'Registered Nurse-DC1'),
 ('Brock Fahrni', 'Registered Nurse-DC2A Sup'),
 ('Brock Fahrni', 'Registered Nurse-DC2B'),
 ('Youville Residence', 'Registered Nurse-DC1'),
 ('Youville Residence', 'Registered Nurse-DC2A Sup'),
 ('Youville Residence', 'Registered Nurse-DC2B')]

In [29]:
# plot data sample
site = "SVH Langara"
job_family = 'Registered Nurse-DC1'
plot_data = split_data[(site, job_family)]

In [30]:
x = plot_data["ds"]
y = plot_data["y"]
yhat = plot_data["yhat"]
yhat_lower = plot_data["yhat_lower"]
yhat_upper = plot_data["yhat_upper"]

upper_bound = go.Scatter(
    name='Upper Bound',
    x=x,
    y=yhat_upper,
    mode='lines',
    line=dict(width=0.5, color="rgb(255, 255, 255)"),
    fillcolor='rgba(68, 68, 68, 0.1)',
    fill='tonexty',
    showlegend=False)

trace1 = go.Scatter(
    name='Actual',
    x=x,
    y=y,
    mode='lines',
    line=dict(color='rgb(31, 119, 180)'),)

trace2 = go.Scatter(
    name='Predictions',
    x=x,
    y=yhat,
    mode='lines',
    line=dict(color='rgb(246, 23, 26)'),)

lower_bound = go.Scatter(
    name='Lower Bound',
    x=x,
    y=yhat_lower,
    mode='lines',
    line=dict(width=0.5, color="rgb(255, 255, 255)"),
    showlegend=False)

data = [lower_bound, upper_bound, trace2, trace1]

py.iplot(data, filename='sample_plot')

/Users/patricktung/anaconda3/lib/python3.7/site-packages/IPython/core/display.py:689: UserWarning:

Consider using IPython.display.IFrame instead