In [21]:
# load packages
import pandas as pd
import numpy as np
from fbprophet import Prophet
import os

import warnings
from stldecompose import decompose, forecast
from stldecompose.forecast_funcs import (naive, drift, mean, seasonal_naive)

import datetime

In [2]:
def run_prophet(series, timeframe):
    """
    Runs the Prophet 
    
    Key arguments:
    --------------
    series -- (DataFrame) time series data
    timeframe -- (DataFrame) a DataFrame with one column 
                 consisting of predicted dates

    Returns: 
    --------------
    Returns the forecast of the predictions 

    """
    model = Prophet(yearly_seasonality=True, weekly_seasonality=True, daily_seasonality=False, 
                    # changepoint_prior_scale=0.001,
                    # mcmc_samples=300,
                    interval_width=0.95)
    model.fit(series)
    forecast = model.predict(timeframe)
    return forecast, model

In [4]:
# read data
data = pd.read_csv("../data/exception_hours.csv", parse_dates=["SHIFT_DATE"])

In [28]:
# clean data
data_clean = data[(data["SITE"]=="St Paul's Hospital") |
                    (data["SITE"]=="Mt St Joseph") |
                    (data["SITE"]=="Holy Family") |
                    (data["SITE"]=="SVH Langara") |
                    (data["SITE"]=="Brock Fahrni") |
                    (data["SITE"]=="Youville Residence")]
data_clean = data_clean[(data_clean["JOB_FAMILY"]=="DC1000") |
                    (data_clean["JOB_FAMILY"]=="DC2A00") |
                    (data_clean["JOB_FAMILY"]=="DC2B00") ]

In [29]:
# create training dataframes
data_group = data_clean.groupby(["JOB_FAMILY", "SITE", "SUB_PROGRAM", "SHIFT_DATE"]).size().reset_index()
data_group = data_group.rename({"SHIFT_DATE":"ds", 0:"y"}, axis=1)

In [62]:
# create timeframe data for prediction
timeframe_future = pd.DataFrame(pd.date_range(start='2019-01-01', end='2019-12-31', freq="D")).rename({0:"ds"}, axis=1)

threshold_start_date = pd.to_datetime("2019-01-01")-datetime.timedelta(days=4*365)
threshold_dates = pd.DataFrame(pd.date_range(start=threshold_start_date, end="2019-01-01", freq="D")).rename({0:"ds"}, axis=1)

In [35]:
# create timeframe_past
min_shift_date = np.min(data["SHIFT_DATE"])
timeframe_past = pd.DataFrame(pd.date_range(start=min_shift_date, end="2018-12-31", freq="D")).rename({0:"ds"}, axis=1)

In [37]:
sites = data_clean["SITE"].unique()
job_families = data_clean["JOB_FAMILY"].unique()
sub_programs = data_clean["SUB_PROGRAM"].unique()

In [54]:
startdate = "2019-01-01"
enddate = "2019-12-31"

In [75]:
pd.to_datetime(startdate) - datetime.timedelta(days=1)

Timestamp('2018-12-31 00:00:00')

In [76]:
timeframe_future = pd.DataFrame(pd.date_range(start=startdate, end=enddate, freq="D")).rename({0:"ds"}, axis=1)
threshold_start_date = pd.to_datetime(startdate)-datetime.timedelta(days=4*365.25)
threshold_dates = pd.DataFrame(pd.date_range(start=threshold_start_date, end=pd.to_datetime(startdate) - datetime.timedelta(days=1), freq="D")).rename({0:"ds"}, axis=1)

In [77]:
threshold_dates

             ds
0    2015-01-01
1    2015-01-02
2    2015-01-03
3    2015-01-04
4    2015-01-05
5    2015-01-06
6    2015-01-07
7    2015-01-08
8    2015-01-09
9    2015-01-10
10   2015-01-11
11   2015-01-12
12   2015-01-13
13   2015-01-14
14   2015-01-15
15   2015-01-16
16   2015-01-17
17   2015-01-18
18   2015-01-19
19   2015-01-20
20   2015-01-21
21   2015-01-22
22   2015-01-23
23   2015-01-24
24   2015-01-25
25   2015-01-26
26   2015-01-27
27   2015-01-28
28   2015-01-29
29   2015-01-30
...         ...
1431 2018-12-02
1432 2018-12-03
1433 2018-12-04
1434 2018-12-05
1435 2018-12-06
1436 2018-12-07
1437 2018-12-08
1438 2018-12-09
1439 2018-12-10
1440 2018-12-11
1441 2018-12-12
1442 2018-12-13
1443 2018-12-14
1444 2018-12-15
1445 2018-12-16
1446 2018-12-17
1447 2018-12-18
1448 2018-12-19
1449 2018-12-20
1450 2018-12-21
1451 2018-12-22
1452 2018-12-23
1453 2018-12-24
1454 2018-12-25
1455 2018-12-26
1456 2018-12-27
1457 2018-12-28
1458 2018-12-29
1459 2018-12-30
1460 2018-12-31

[1461 rows x 1 columns]

In [48]:
warnings.simplefilter('ignore')
# create and store predictions and true results
models = {}
data_individual = {}
pred_results = {}
for i in sites:
    for j in job_families:
        for k in sub_programs:
            temp_data = data_group[(data_group["SITE"]==i) & (data_group["JOB_FAMILY"]==j) & (data_group["SUB_PROGRAM"]==k)].reset_index()
            
            # check threshold
            threshold_data = temp_data[temp_data["ds"] >= threshold_start_date]
            if threshold_data["y"].sum() >= 300.0:
                # forecast numbers
                temp_data = pd.merge(timeframe_past, temp_data, on="ds", how="outer")
                temp_data["y"] = temp_data["y"].fillna(0)

                data_individual[(i, j, k)] = temp_data
                pred_results[(i, j, k)], models[(i, j, k)] = run_prophet(temp_data, timeframe_future)
                print("Fitting -", i, j, k, ": Done")

Fitting - St Paul's Hospital DC2B00 RENAL 6AB : Done
Fitting - St Paul's Hospital DC2B00 OR PAR SPH : Done
Fitting - St Paul's Hospital DC2B00 HEMODIALYSIS 6CD IC : Done
Fitting - St Paul's Hospital DC2B00 EMERG SPH : Done
Fitting - St Paul's Hospital DC2B00 ICU : Done
Fitting - St Paul's Hospital DC2B00 NICU MATERNITY : Done
Fitting - St Paul's Hospital DC2B00 MELANIE MULDER : Done
Fitting - St Paul's Hospital DC2B00 MED NURSE RELIEF : Done
Fitting - St Paul's Hospital DC2B00 RENAL CDU IAMHD : Done
Fitting - St Paul's Hospital DC2B00 10C, CLINICS : Done
Fitting - St Paul's Hospital DC2B00 BARBARA HALL : Done
Fitting - St Paul's Hospital DC2B00 NURSING UNIT SPH : Done
Fitting - St Paul's Hospital DC2B00 PALLIATIVE SRVCS : Done
Fitting - St Paul's Hospital DC2B00 DIONNE NORDBY : Done
Fitting - St Paul's Hospital DC2B00 CLINICS : Done
Fitting - St Paul's Hospital DC2B00 NURSING PRACTICE  EDU : Done
Fitting - St Paul's Hospital DC2B00 BLOOD DISORDERS : Done
Fitting - St Paul's Hospital DC2B00 SPH INPATIENT : Done
Fitting - St Paul's Hospital DC2B00 SPD : Done
Fitting - St Paul's Hospital DC2B00 HEN HPN : Done
Fitting - St Paul's Hospital DC2B00 GER OUTPAT : Done
Fitting - St Paul's Hospital DC2B00 STEFANIE MACLEOD : Done
Fitting - St Paul's Hospital DC1000 RENAL 6AB : Done
Fitting - St Paul's Hospital DC1000 OR PAR SPH : Done
Fitting - St Paul's Hospital DC1000 HEMODIALYSIS 6CD IC : Done
Fitting - St Paul's Hospital DC1000 PASU 9A 2N 8C : Done
Fitting - St Paul's Hospital DC1000 EMERG SPH : Done
Fitting - St Paul's Hospital DC1000 ICU : Done
Fitting - St Paul's Hospital DC1000 NICU MATERNITY : Done
Fitting - St Paul's Hospital DC1000 MELANIE MULDER : Done
Fitting - St Paul's Hospital DC1000 MED NURSE RELIEF : Done
Fitting - St Paul's Hospital DC1000 IMAGING : Done
Fitting - St Paul's Hospital DC1000 RENAL CDU IAMHD : Done
Fitting - St Paul's Hospital DC1000 10C, CLINICS : Done
Fitting - St Paul's Hospital DC1000 OR BOOKING : Done
Fitting - St Paul's Hospital DC1000 SPH CLINICS : Done
Fitting - St Paul's Hospital DC1000 AMBULATORY : Done
Fitting - St Paul's Hospital DC1000 BARBARA HALL : Done
Fitting - St Paul's Hospital DC1000 NURSING UNIT SPH : Done
Fitting - St Paul's Hospital DC1000 PALLIATIVE SRVCS : Done
Fitting - St Paul's Hospital DC1000 EATING DISORDER : Done
Fitting - St Paul's Hospital DC1000 DIONNE NORDBY : Done
Fitting - St Paul's Hospital DC1000 CLINICS : Done
Fitting - St Paul's Hospital DC1000 LR COMP CLASS : Done
Fitting - St Paul's Hospital DC1000 NURSING PRACTICE  EDU : Done
Fitting - St Paul's Hospital DC1000 SPH INPATIENT : Done
Fitting - St Paul's Hospital DC1000 PACIFIC LUNG  CF : Done
Fitting - St Paul's Hospital DC1000 STEFANIE MACLEOD : Done
Fitting - St Paul's Hospital DC2A00 RENAL 6AB : Done
Fitting - St Paul's Hospital DC2A00 OR PAR SPH : Done
Fitting - St Paul's Hospital DC2A00 HEMODIALYSIS 6CD IC : Done
Fitting - St Paul's Hospital DC2A00 PASU 9A 2N 8C : Done
Fitting - St Paul's Hospital DC2A00 EMERG SPH : Done
Fitting - St Paul's Hospital DC2A00 ICU : Done
Fitting - St Paul's Hospital DC2A00 NICU MATERNITY : Done
Fitting - St Paul's Hospital DC2A00 MELANIE MULDER : Done
Fitting - St Paul's Hospital DC2A00 MED NURSE RELIEF : Done
Fitting - St Paul's Hospital DC2A00 RENAL CDU IAMHD : Done
Fitting - St Paul's Hospital DC2A00 10C, CLINICS : Done
Fitting - St Paul's Hospital DC2A00 OR BOOKING : Done
Fitting - St Paul's Hospital DC2A00 SPH CLINICS : Done
Fitting - St Paul's Hospital DC2A00 AMBULATORY : Done
Fitting - St Paul's Hospital DC2A00 BARBARA HALL : Done
Fitting - St Paul's Hospital DC2A00 NURSING UNIT SPH : Done
Fitting - St Paul's Hospital DC2A00 PALLIATIVE SRVCS : Done
Fitting - St Paul's Hospital DC2A00 EATING DISORDER : Done
Fitting - St Paul's Hospital DC2A00 DIONNE NORDBY : Done
Fitting - St Paul's Hospital DC2A00 LR COMP CLASS : Done
Fitting - St Paul's Hospital DC2A00 SPH INPATIENT : Done
Fitting - St Paul's Hospital DC2A00 SPD : Done
Fitting - St Paul's Hospital DC2A00 ACCESS SVCS SPH : Done
Fitting - SVH Langara DC1000 ALDER : Done
Fitting - SVH Langara DC1000 RES SVCS LAN : Done
Fitting - SVH Langara DC2A00 RES SVCS LAN : Done
Fitting - Mt St Joseph DC2B00 MSJ OR PAR DT CL : Done
Fitting - Mt St Joseph DC2B00 EMERG HAU OP MSJ : Done
Fitting - Mt St Joseph DC2B00 MSJ NURSING UNITS : Done
Fitting - Mt St Joseph DC2B00 SPD : Done
Fitting - Mt St Joseph DC1000 MSJ OR PAR DT CL : Done
Fitting - Mt St Joseph DC1000 ICU : Done
Fitting - Mt St Joseph DC1000 PARKVIEW, 1 SOUTH : Done
Fitting - Mt St Joseph DC1000 EMERG HAU OP MSJ : Done
Fitting - Mt St Joseph DC1000 MSJ NURSING UNITS : Done
Fitting - Mt St Joseph DC1000 RES SVCS MSJ : Done
Fitting - Mt St Joseph DC2A00 MSJ OR PAR DT CL : Done
Fitting - Mt St Joseph DC2A00 EMERG HAU OP MSJ : Done
Fitting - Mt St Joseph DC2A00 MSJ NURSING UNITS : Done
Fitting - Mt St Joseph DC2A00 RES SVCS MSJ : Done
Fitting - Mt St Joseph DC2A00 ACCESS SVCS MSJ : Done
Fitting - Holy Family DC1000 REHAB HFH : Done
Fitting - Holy Family DC1000 RES SVCS HFH : Done
Fitting - Holy Family DC2A00 REHAB HFH : Done
Fitting - Holy Family DC2A00 RES SVCS HFH : Done
Fitting - Brock Fahrni DC1000 RES SVCS BF : Done
Fitting - Brock Fahrni DC2A00 RES SVCS BF : Done
Fitting - Youville Residence DC1000 PARKVIEW, 1 SOUTH : Done
Fitting - Youville Residence DC1000 RES SVCS YOUV : Done
Fitting - Youville Residence DC2A00 RES SVCS YOUV : Done

In [50]:
weekly = {}
for i in data_individual.keys():
    # create week column
    combined= pred_results[i][["ds", "yhat", "yhat_lower", "yhat_upper"]]
    combined["week"] = combined["ds"].dt.week
    combined["ds"] = combined["ds"]-pd.DateOffset(weekday=0, weeks=1)

    # store y, yhat, yhat_lower, yhat_upper
    weekly_yhat = combined.groupby("ds").yhat.sum().round(0).astype(int).reset_index()
    weekly_yhat_lower = combined.groupby("ds").yhat_lower.sum().round(0).astype(int).reset_index()
    weekly_yhat_upper = combined.groupby("ds").yhat_upper.sum().round(0).astype(int).reset_index()

    # merge weekly results
    weekly[i] = pd.concat([weekly_yhat["yhat"],
                           weekly_yhat_lower["yhat_lower"],
                           weekly_yhat_upper["yhat_upper"]], axis=1)

    # create columns "year", "site", "JOB_FAMILY"
    length = weekly[i].shape[0]
    weekly[i]["ds"] = combined["ds"]
    weekly[i]["week"] = combined["ds"].dt.weekofyear
    weekly[i]["site"] = np.repeat(i[0], length)
    weekly[i]["job_family"] = np.repeat(i[1], length)
    weekly[i]["sub_program"] = np.repeat(i[2], length)

    # code for minimizing errors (model residuals)
    forecasted = models[i].predict(timeframe_future)
    actual = data_individual[i]

    # get residuals
    error = actual["y"] - forecasted["yhat"]
    obs = timeframe_past.copy()
    obs["error"] = error
    obs = obs.set_index("ds")

    # model residuals
    period = int((np.max(timeframe_future) - np.min(timeframe_future)).dt.days)+1
    decomp = decompose(obs, period=period)
    weekly_fcast = forecast(decomp, steps=period, fc_func=drift, seasonal=True)
    weekly_fcast["week"] = weekly_fcast.index-pd.DateOffset(weekday=0, weeks=1)
    weekly_fcast = weekly_fcast.groupby("week").sum()

    # replace weekly data
    resid_fcast = weekly_fcast.reset_index()["drift+seasonal"]
    weekly_yhat = (weekly[i]["yhat"] + resid_fcast).round(0)
    weekly_yhat_lower = (weekly[i]["yhat_lower"] + resid_fcast).round(0)
    weekly_yhat_upper = (weekly[i]["yhat_upper"] + resid_fcast).round(0)

    # replace negatives with 0s
    weekly[i]["yhat"] = weekly_yhat.where(weekly_yhat >= 0, 0)
    weekly[i]["yhat_lower"] = weekly_yhat_lower.where(weekly_yhat_lower >= 0, 0)
    weekly[i]["yhat_upper"] = weekly_yhat_upper.where(weekly_yhat_upper >= 0, 0)

In [52]:
weekly[("St Paul's Hospital",
  'DC2B00',
  'RENAL 6AB')]

,yhat,yhat_lower,yhat_upper,ds,week,site,job_family,sub_program
0,8.0,0.0,19.0,2018-12-31,1,St Paul's Hospital,DC2B00,RENAL 6AB
1,6.0,0.0,18.0,2018-12-31,1,St Paul's Hospital,DC2B00,RENAL 6AB
2,5.0,0.0,17.0,2018-12-31,1,St Paul's Hospital,DC2B00,RENAL 6AB
3,5.0,0.0,16.0,2018-12-31,1,St Paul's Hospital,DC2B00,RENAL 6AB
4,5.0,0.0,17.0,2018-12-31,1,St Paul's Hospital,DC2B00,RENAL 6AB
5,5.0,0.0,16.0,2018-12-31,1,St Paul's Hospital,DC2B00,RENAL 6AB
6,4.0,0.0,16.0,2018-12-31,1,St Paul's Hospital,DC2B00,RENAL 6AB
7,4.0,0.0,15.0,2019-01-07,2,St Paul's Hospital,DC2B00,RENAL 6AB
8,4.0,0.0,16.0,2019-01-07,2,St Paul's Hospital,DC2B00,RENAL 6AB
9,5.0,0.0,17.0,2019-01-07,2,St Paul's Hospital,DC2B00,RENAL 6AB
10,7.0,0.0,18.0,2019-01-07,2,St Paul's Hospital,DC2B00,RENAL 6AB
11,7.0,0.0,19.0,2019-01-07,2,St Paul's Hospital,DC2B00,RENAL 6AB
12,7.0,0.0,19.0,2019-01-07,2,St Paul's Hospital,DC2B00,RENAL 6AB
13,7.0,0.0,19.0,2019-01-07,2,St Paul's Hospital,DC2B00,RENAL 6AB
14,7.0,0.0,18.0,2019-01-14,3,St Paul's Hospital,DC2B00,RENAL 6AB
15,7.0,0.0,18.0,2019-01-14,3,St Paul's Hospital,DC2B00,RENAL 6AB
16,7.0,0.0,18.0,2019-01-14,3,St Paul's Hospital,DC2B00,RENAL 6AB
17,6.0,0.0,17.0,2019-01-14,3,St Paul's Hospital,DC2B00,RENAL 6AB
18,5.0,0.0,17.0,2019-01-14,3,St Paul's Hospital,DC2B00,RENAL 6AB
19,5.0,0.0,17.0,2019-01-14,3,St Paul's Hospital,DC2B00,RENAL 6AB
20,5.0,0.0,17.0,2019-01-14,3,St Paul's Hospital,DC2B00,RENAL 6AB
21,6.0,0.0,17.0,2019-01-21,4,St Paul's Hospital,DC2B00,RENAL 6AB
22,5.0,0.0,17.0,2019-01-21,4,St Paul's Hospital,DC2B00,RENAL 6AB
23,5.0,0.0,16.0,2019-01-21,4,St Paul's Hospital,DC2B00,RENAL 6AB
24,4.0,0.0,16.0,2019-01-21,4,St Paul's Hospital,DC2B00,RENAL 6AB
25,5.0,0.0,16.0,2019-01-21,4,St Paul's Hospital,DC2B00,RENAL 6AB
26,6.0,0.0,18.0,2019-01-21,4,St Paul's Hospital,DC2B00,RENAL 6AB
27,7.0,0.0,19.0,2019-01-21,4,St Paul's Hospital,DC2B00,RENAL 6AB
28,7.0,0.0,18.0,2019-01-28,5,St Paul's Hospital,DC2B00,RENAL 6AB
29,6.0,0.0,18.0,2019-01-28,5,St Paul's Hospital,DC2B00,RENAL 6AB
30,7.0,0.0,18.0,2019-01-28,5,St Paul's Hospital,DC2B00,RENAL 6AB
31,9.0,0.0,20.0,2019-01-28,5,St Paul's Hospital,DC2B00,RENAL 6AB
32,12.0,0.0,23.0,2019-01-28,5,St Paul's Hospital,DC2B00,RENAL 6AB
33,13.0,2.0,25.0,2019-01-28,5,St Paul's Hospital,DC2B00,RENAL 6AB
34,12.0,1.0,24.0,2019-01-28,5,St Paul's Hospital,DC2B00,RENAL 6AB
35,9.0,0.0,21.0,2019-02-04,6,St Paul's Hospital,DC2B00,RENAL 6AB
36,7.0,0.0,18.0,2019-02-04,6,St Paul's Hospital,DC2B00,RENAL 6AB
37,7.0,0.0,18.0,2019-02-04,6,St Paul's Hospital,DC2B00,RENAL 6AB
38,9.0,0.0,20.0,2019-02-04,6,St Paul's Hospital,DC2B00,RENAL 6AB
39,11.0,0.0,23.0,2019-02-04,6,St Paul's Hospital,DC2B00,RENAL 6AB
40,11.0,0.0,23.0,2019-02-04,6,St Paul's Hospital,DC2B00,RENAL 6AB
41,9.0,0.0,21.0,2019-02-04,6,St Paul's Hospital,DC2B00,RENAL 6AB
42,6.0,0.0,18.0,2019-02-11,7,St Paul's Hospital,DC2B00,RENAL 6AB
43,5.0,0.0,16.0,2019-02-11,7,St Paul's Hospital,DC2B00,RENAL 6AB
44,5.0,0.0,17.0,2019-02-11,7,St Paul's Hospital,DC2B00,RENAL 6AB
45,7.0,0.0,18.0,2019-02-11,7,St Paul's Hospital,DC2B00,RENAL 6AB
46,8.0,0.0,19.0,2019-02-11,7,St Paul's Hospital,DC2B00,RENAL 6AB
47,8.0,0.0,19.0,2019-02-11,7,St Paul's Hospital,DC2B00,RENAL 6AB
48,8.0,0.0,19.0,2019-02-11,7,St Paul's Hospital,DC2B00,RENAL 6AB
49,8.0,0.0,20.0,2019-02-18,8,St Paul's Hospital,DC2B00,RENAL 6AB
50,9.0,0.0,20.0,2019-02-18,8,St Paul's Hospital,DC2B00,RENAL 6AB
51,9.0,0.0,21.0,2019-02-18,8,St Paul's Hospital,DC2B00,RENAL 6AB
52,2.0,0.0,3.0,2019-02-18,8,St Paul's Hospital,DC2B00,RENAL 6AB

In [76]:
# create data/predictions folder if it doesn't exist
predictions_path = "../data/predictions/"
if not os.path.exists(predictions_path):
    os.mkdir(predictions_path)


# export to "data/predictions/" directory
total_data = pd.DataFrame()
for i in weekly:
    total_data = pd.concat([total_data, weekly[i]], axis=0)
total_data.to_csv(predictions_path + "predictions.csv")